# Игнорируемые файлы по умолчанию
/shelf/
/workspace.xml

# Исключаем каталоги target, где находятся скомпилированные файлы и артефакты сборки
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Исключаем настройки IntelliJ IDEA
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Исключаем файлы тестов и отчетов
/test-output/
.surefire/